<!doctype html>
<html>
    <head>
        <title>Build a Blog</title>
    </head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/newpost">New Blog Entry</a>
        <a href="/logout">Log Out</a>
        <a href="/signup">User Signup</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>

    </header>
    <h1>Build a Blog!</h1>

    
    {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
            <li class="{{category}}">{{message}}</li>
        </ul>
        {% endfor %}
    {% endwith %}

    {% block content %}

    {% endblock %}


</body>
</html>