{% extends "base.html" %}

{% block content %}

<h2>Login to Blogz!</h2>

<form action="/login" method="post">
        
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value='{{username}}'/>
    <span class="error">{{username_error}}</span>
    
    <br>
    <label for="Password">Password:</label>
    <input id="Password" type="password" name="Password" />
    <span class="error">{{password_error}}</span>
    
    <br>
    <input class="submit" type="submit" value="Log Me In!"/>
</form>
<h3> <a href='/signup'>Create Account</a></h3>



{% endblock %}